@font-face {
  font-family: 'pt-sans-narrow';
  src: url("../font/PT_Sans_Narrow/PT_Sans-Narrow-Web-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'museoSans';
  src: url("../font/MuseoSans/MuseoSansRounded-300.otf") format("opentype"); }

/* line 23, D:/wamp/www/envisage/html/scss/style.scss */
body, html {
  height: 100%;
  margin: 0;
  padding: 0; }

/* line 24, D:/wamp/www/envisage/html/scss/style.scss */
a, h1, h2, h4, h4, h5 {
  font-family: "museoSans", sans-serif; }

/* line 25, D:/wamp/www/envisage/html/scss/style.scss */
a:hover {
  text-decoration: none; }

/* line 27, D:/wamp/www/envisage/html/scss/style.scss */
.wrapper {
  background-image: url("../img/products_background_white@2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  white-space: nowrap;
  overflow-x: hidden; }
  /* line 35, D:/wamp/www/envisage/html/scss/style.scss */
  .wrapper.benefits {
    background-position: 0 18em;
    background-size: contain; }
  /* line 40, D:/wamp/www/envisage/html/scss/style.scss */
  .wrapper::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%; }

/* line 47, D:/wamp/www/envisage/html/scss/style.scss */
.page-content {
  vertical-align: middle;
  white-space: normal;
  display: inline-block;
  width: 100%;
  position: relative; }

/* line 55, D:/wamp/www/envisage/html/scss/style.scss */
.title {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
  bottom: 2.5em; }
  /* line 62, D:/wamp/www/envisage/html/scss/style.scss */
  .title.has-top-bar {
    bottom: 0;
    top: 3em; }
  /* line 66, D:/wamp/www/envisage/html/scss/style.scss */
  .title a {
    display: block; }
    /* line 68, D:/wamp/www/envisage/html/scss/style.scss */
    .title a img {
      display: block;
      width: 100%; }

/* line 75, D:/wamp/www/envisage/html/scss/style.scss */
.buttons-section {
  width: 100%;
  text-align: center; }
  /* line 76, D:/wamp/www/envisage/html/scss/style.scss */
  .buttons-section.home {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: inline-flex; }
  /* line 85, D:/wamp/www/envisage/html/scss/style.scss */
  .buttons-section::after {
    content: "";
    clear: both;
    display: block; }

/* line 93, D:/wamp/www/envisage/html/scss/style.scss */
.benefits-view .legend {
  position: relative;
  top: 2em; }

/* line 98, D:/wamp/www/envisage/html/scss/style.scss */
.buttons-section.benefits {
  background-image: url("../img/benefits_adults/girl_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  text-align: left;
  min-height: 473px;
  margin-top: 60px;
  padding-top: 3em; }
  /* line 107, D:/wamp/www/envisage/html/scss/style.scss */
  .buttons-section.benefits .col-sm-4 {
    margin-bottom: 75px; }
    /* line 109, D:/wamp/www/envisage/html/scss/style.scss */
    .buttons-section.benefits .col-sm-4 a {
      display: block;
      padding-left: 2em; }
      /* line 112, D:/wamp/www/envisage/html/scss/style.scss */
      .buttons-section.benefits .col-sm-4 a img {
        position: relative;
        right: 2px; }
      /* line 116, D:/wamp/www/envisage/html/scss/style.scss */
      .buttons-section.benefits .col-sm-4 a span {
        color: #0a0a0a;
        display: inline-block;
        padding-left: 2px;
        box-sizing: border-box; }

/* line 132, D:/wamp/www/envisage/html/scss/style.scss */
.top {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f8f8f8;
  border-bottom: 1px solid #bcbcbc;
  text-align: center; }
  /* line 140, D:/wamp/www/envisage/html/scss/style.scss */
  .top h5 {
    text-align: center;
    font-weight: 700;
    color: #8e908f;
    display: inline-block;
    margin-top: 16px; }

/* line 149, D:/wamp/www/envisage/html/scss/style.scss */
.back {
  float: left;
  position: absolute;
  top: 0; }
  /* line 153, D:/wamp/www/envisage/html/scss/style.scss */
  .back a {
    position: relative;
    bottom: 15px;
    color: #58a618;
    font-size: 16px;
    margin-left: 20px; }
    /* line 159, D:/wamp/www/envisage/html/scss/style.scss */
    .back a span {
      font-size: 2.5em;
      font-family: "pt-sans-narrow", sans-serif;
      position: relative;
      top: 7px; }

/* line 169, D:/wamp/www/envisage/html/scss/style.scss */
.top-navigation ul {
  border: 2px solid #58a618;
  border-radius: 10px;
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 0; }
  /* line 176, D:/wamp/www/envisage/html/scss/style.scss */
  .top-navigation ul li {
    float: left;
    border-left: 2px solid #58a618;
    margin: 0; }
    /* line 181, D:/wamp/www/envisage/html/scss/style.scss */
    .top-navigation ul li:first-child {
      border-left: 0; }
    /* line 184, D:/wamp/www/envisage/html/scss/style.scss */
    .top-navigation ul li.active {
      background-color: #58a618; }
      /* line 186, D:/wamp/www/envisage/html/scss/style.scss */
      .top-navigation ul li.active a {
        color: #f8f8f8; }
    /* line 191, D:/wamp/www/envisage/html/scss/style.scss */
    .top-navigation ul li a {
      padding: 5px 26px;
      color: #58a618;
      display: block; }

/* line 201, D:/wamp/www/envisage/html/scss/style.scss */
.legend {
  font-size: 1.6em;
  text-align: center;
  margin: 0 1.5em;
  color: #3c3c3b; }

/* line 209, D:/wamp/www/envisage/html/scss/style.scss */
.g5-mobile.wrapper {
  background-position: 0 15em; }

/* line 212, D:/wamp/www/envisage/html/scss/style.scss */
.g5-mobile .buttons-section {
  background-image: url("../img/g5_mobile/g5_phone.png");
  background-size: contain;
  background-position: 97% 0;
  padding-top: 2.2em; }
  /* line 220, D:/wamp/www/envisage/html/scss/style.scss */
  .g5-mobile .buttons-section .row:nth-child(1) {
    min-height: 185px; }
  /* line 224, D:/wamp/www/envisage/html/scss/style.scss */
  .g5-mobile .buttons-section .col-sm-4 {
    margin-bottom: 0; }
    /* line 227, D:/wamp/www/envisage/html/scss/style.scss */
    .g5-mobile .buttons-section .col-sm-4 a {
      padding-left: 1em; }
  /* line 232, D:/wamp/www/envisage/html/scss/style.scss */
  .g5-mobile .buttons-section .g5-mobile {
    box-sizing: border-box;
    margin-top: 2.2em;
    color: #000;
    font-weight: bold;
    font-size: 1.2em; }
    /* line 239, D:/wamp/www/envisage/html/scss/style.scss */
    .g5-mobile .buttons-section .g5-mobile p {
      color: #565656;
      font-size: 0.9em;
      margin-top: 10px;
      width: 130%;
      display: none; }
      /* line 245, D:/wamp/www/envisage/html/scss/style.scss */
      .g5-mobile .buttons-section .g5-mobile p.lower {
        position: absolute;
        width: 250%; }
        /* line 248, D:/wamp/www/envisage/html/scss/style.scss */
        .g5-mobile .buttons-section .g5-mobile p.lower span {
          color: #55b248; }
  /* line 254, D:/wamp/www/envisage/html/scss/style.scss */
  .g5-mobile .buttons-section div img {
    max-width: 100px; }

/* line 258, D:/wamp/www/envisage/html/scss/style.scss */
.g5-mobile .legend {
  text-align: left;
  font-size: 1.7em; }

/* line 264, D:/wamp/www/envisage/html/scss/style.scss */
.share-benefits.wrapper {
  background-image: url("../img/how-it-works-background.jpg");
  background-position: 0 60%;
  background-size: contain; }

/* line 269, D:/wamp/www/envisage/html/scss/style.scss */
.share-benefits .buttons-section {
  background-image: url("../img/share_benefits/phone_bg.png");
  background-size: 310px;
  background-position: right 50px; }
  /* line 275, D:/wamp/www/envisage/html/scss/style.scss */
  .share-benefits .buttons-section .col-sm-4 .row .col-sm-7 {
    position: relative;
    left: -15px; }
    /* line 278, D:/wamp/www/envisage/html/scss/style.scss */
    .share-benefits .buttons-section .col-sm-4 .row .col-sm-7 p {
      font-size: 0.9em; }

/* line 286, D:/wamp/www/envisage/html/scss/style.scss */
footer.footer {
  position: fixed;
  bottom: 0;
  width: 100%; }

/* line 291, D:/wamp/www/envisage/html/scss/style.scss */
.navigation {
  border-top: 1px solid #bcbcbc;
  background-color: #eaeaea;
  padding-top: 8px; }
  /* line 296, D:/wamp/www/envisage/html/scss/style.scss */
  .navigation ul {
    list-style-type: none;
    display: inline-block;
    margin: 0 auto;
    padding: 0; }
    /* line 301, D:/wamp/www/envisage/html/scss/style.scss */
    .navigation ul li {
      display: inline-block;
      padding: 0 2.2em; }
      /* line 305, D:/wamp/www/envisage/html/scss/style.scss */
      .navigation ul li a {
        text-transform: capitalize;
        display: block;
        text-align: center;
        font-family: "museoSans", sans-serif; }
      @media only screen and (orientation: portrait) {
        /* line 301, D:/wamp/www/envisage/html/scss/style.scss */
        .navigation ul li {
          padding: 0 1.9em; } }

/* line 318, D:/wamp/www/envisage/html/scss/style.scss */
.navigation li.evidence-icon a img {
  max-width: 25px; }

/* line 321, D:/wamp/www/envisage/html/scss/style.scss */
.navigation li a img {
  display: inline-block; }

/* line 324, D:/wamp/www/envisage/html/scss/style.scss */
.navigation li a p {
  color: #3d3d3d; }

/* line 327, D:/wamp/www/envisage/html/scss/style.scss */
.navigation li a:hover {
  text-decoration: none; }

/* line 1, D:/wamp/www/envisage/html/scss/reimbursement.scss */
.header-text {
  font-size: 28px; }

/* line 5, D:/wamp/www/envisage/html/scss/reimbursement.scss */
.important-text {
  color: #fd7e00; }

/* line 13, D:/wamp/www/envisage/html/scss/reimbursement.scss */
.customized-wrapper {
  background-image: url("../img/products_background_white@2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  white-space: nowrap;
  overflow-x: hidden; }
  /* line 21, D:/wamp/www/envisage/html/scss/reimbursement.scss */
  .customized-wrapper::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%; }
