/*img_287.html => evidence.scss*/

.evidence-section {
	/*.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8 {
		border: 2px solid red;
	}
	.row{
		border: 1px solid blue;
	}*/

	font-size: 16px;

	.col-sm-7 {
		padding-top: 80px;
		padding-left: 20px;
	}
	.row {
		margin-bottom: 80px;
		margin-left: 30px;
		margin-right: 30px;
	}
}

.evidence-figure1 {
	img {
		width: 300px;
		float: right;
	}
}

.evidence-figure2 {
	img {
		width: 100px;
		float: right;
	}
}
