/* img_273.html => reimbursement.scss */

/*For all bodies:*/
//body {font-family: $font;}

.generic-text {
	padding-left: 50px;
}

.important-text {
	color: #ea8303;
}


.header-text {
	font-size: 24px;
}

.customized-wrapper {
	background-image: url($bodyBg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	white-space: nowrap;
	overflow-x: hidden;

	font-family: $font;

	&::after{
		content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
	}
}

.reimb-section {
	&.home{
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: inline-flex;
	}
	width: 100%;
	text-align: center;

	&::after{
		content: "";
		clear: both;
		display: block;
	}

	.col-sm-6{
		margin-top: 80px;
		margin-bottom: 50px;
	}
	.col-sm-6:first-child{
		border-right: 1px solid #a6a6a6;
	}
}

.reimb-figure {
	margin-top: 40px;
	margin-bottom: 40px;
	img{
		width: 250px;
		height: 250px;
	}

	figcaption{
		margin-bottom: 30px;
	}
}

