$bodyBg: '../img/products_background_white@2x.jpg';
$bodyBgBenefits: '../img/benefits_adults/girl_bg.png';
$bgG5Mobile: '../img/g5_mobile/g5_phone.png';
$bgShareBenefits: '../img/share_benefits/phone_bg.png';
$wrapperShareBenefits: '../img/how-it-works-background.jpg';


@font-face{
	font-family: 'pt-sans-narrow';
	src: url('../font/PT_Sans_Narrow/PT_Sans-Narrow-Web-Regular.ttf') format('truetype');
}
@font-face{
	font-family: 'museoSans';
	src: url('../font/MuseoSans/MuseoSansRounded-300.otf') format('opentype');
}
$font: 'museoSans', sans-serif;// primary font
$secondFont: 'pt-sans-narrow', sans-serif;
$borderColorTopNav: #58a618;




body, html{height: 100%;margin: 0;padding: 0;}
a, h1, h2, h4, h4, h5{font-family: $font;}
a:hover{text-decoration: none;}

.wrapper{
	background-image: url($bodyBg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	white-space: nowrap;
	overflow-x: hidden;

	&.benefits{
		background-position: 0 18em;
		background-size: contain;
	}

	&::after{
		content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
	}
}
.page-content{
	vertical-align: middle;
	white-space: normal;
	display: inline-block;
	width: 100%;
	position: relative;
	// bottom: 2em;
}
.title{
	text-align: center;
	max-width: 300px;
	margin: 0 auto;
	position: relative;
	bottom: 2.5em;

	&.has-top-bar{
		bottom: 0;
		top: 3em;
	}
	a{
		display: block;
		img{
			display: block;
			width: 100%;
		}
	}
}

.buttons-section{
  &.home{
  	display: -webkit-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: inline-flex;
  }
  width: 100%;
  text-align: center;

	&::after{
		content: "";
		clear: both;
		display: block;
	}
}
// benefits page
.benefits-view{
	.legend{
		position: relative;
		top: 2em;
	}
}
.buttons-section.benefits{
	background-image: url($bodyBgBenefits);
	background-repeat: no-repeat;
	background-position: bottom right;
	text-align: left;
	min-height: 473px;
	margin-top: 60px;
	padding-top: 3em;

	.col-sm-4{
		margin-bottom: 75px;
		a{
			display: block;
			padding-left: 2em;
			img{
				position: relative;
				right: 2px;
			}
			span{
				color: #0a0a0a;
				// font-size: #000;
				display: inline-block;
				padding-left: 2px;
				box-sizing: border-box;
			}
		}
	}
}






.top{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #f8f8f8;
	border-bottom: 1px solid #bcbcbc;
	text-align: center;

	h5{
		text-align: center;
		font-weight: 700;
		color: #8e908f;
		display: inline-block;
		margin-top: 16px;
	}
}
//back link
.back{
	float: left;
	position: absolute;
	top: 0;
	a{
		position: relative;
		bottom: 15px;
		color: #58a618;
		font-size: 16px;
		margin-left: 20px;
		span{
			font-size: 2.5em;
			font-family: $secondFont;
			position: relative;
			top: 7px;
		}
	}
}

.top-navigation{
	ul{
		border: 2px solid $borderColorTopNav;
		border-radius: 10px;
		list-style-type: none;
		display: inline-block;
		padding: 0;
		margin: 0;
		li{
			float: left;
			border-left: 2px solid $borderColorTopNav;
			margin: 0;

			&:first-child{
				border-left: 0;
			}
			&.active{
				background-color: #58a618;
				a{
					color: #f8f8f8;
				}
			}

			a{
				padding: 5px 26px;
				color: $borderColorTopNav;
				display: block;
			}
		}
	}
}


.legend{
	font-size: 1.6em;
	text-align: center;
	margin: 0 1.5em;
	color: #3c3c3b;
}
// img_260 - benefits g5 mobile
.g5-mobile{
	&.wrapper{
		background-position: 0 15em;
	}
	.buttons-section{
		background-image: url($bgG5Mobile);
		background-size: contain;
		background-position: 97% 0;
		padding-top: 2.2em;

		.row{

			&:nth-child(1){
				min-height: 185px;
			}
		}
		.col-sm-4{
			margin-bottom: 0;

			a{
				padding-left: 1em;
			}
		}

		.g5-mobile{
			box-sizing: border-box;
			margin-top: 2.2em;
			color: #000;
			font-weight: bold;
			font-size: 1.2em;

			p{
				color: #565656;
				font-size: 0.9em;
				margin-top: 10px;
				width: 130%;
				display: none;
				&.lower{
					position: absolute;
					width: 250%;
					span{
						color: #55b248;
					}
				}
			}
		}
		div img{
			max-width: 100px;
		}
	}
	.legend{
		text-align: left;
		font-size: 1.7em;
	}
}
// share benefits page
.share-benefits.wrapper{
	background-image: url($wrapperShareBenefits);
	background-position: 0 60%;
	background-size: contain;
}
.share-benefits .buttons-section{
	background-image: url($bgShareBenefits);
	background-size: 310px;
	background-position: right 50px;

	.col-sm-4 .row{
		.col-sm-7{
			position: relative;
			left: -15px;
			p{
				font-size: 0.9em;
			}
		}
	}
}


footer.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
}
.navigation{
	border-top: 1px solid #bcbcbc;
	background-color: #eaeaea;
	padding-top: 8px;

	ul{
		list-style-type: none;
		display: inline-block;
		margin: 0 auto;
		padding: 0;
		li{
			display: inline-block;
			padding: 0 2.2em;

			a{
				text-transform: capitalize;
				display: block;
				text-align: center;
				font-family: $font;
			}
			// portrait media query
			@media only screen  and (orientation : portrait){
				padding: 0 1.9em;
			}
		}
	}
}
.navigation li.evidence-icon a img{
	max-width: 25px;
}
.navigation li a img{
	display: inline-block;
}
.navigation li a p{
	color: #3d3d3d;
}
.navigation li a:hover{
	text-decoration: none;
}


@import "reimbursement";
@import "evidence";